<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Deputando ...</title>
    <meta name="description" content="">
    <meta name="author" content="sao paulo.pm">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />    
  <script type="text/javascript" src="/static/bubbletree/lib/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="/static/bubbletree/lib/jquery.history.js"></script>
	<script type="text/javascript" src="/static/bubbletree/lib/raphael.js"></script>
	<script type="text/javascript" src="/static/bubbletree/lib/vis4.js"></script>
	<script type="text/javascript" src="/static/bubbletree/lib/Tween.js"></script>
	<script type="text/javascript" src="/static/bubbletree/build/bubbletree.js"></script>
	<script type="text/javascript" src="https://raw.github.com/okfn/openspendingjs/master/lib/aggregator.js"></script>	
	<link rel="stylesheet" type="text/css" href="/static/bubbletree/build/bubbletree.css" />
	<script type="text/javascript" src="/static/bubbletree/styles/cofog.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/deffs.css" />

	
	<script type="text/javascript">
       
		$(function() {

			
		  [% INCLUDE deputados_listagem.tt %]

			new BubbleTree({
				data: data,
				container: '.bubbletree'
			});
			
		});
                                        
	</script>
</head>
<body>

<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
              <a class="brand" href="http://opendatabr.org/" target="_blank">opendata-br</a>
        </div>
    </div>
</div>



	<div class="bubbletree-wrapper">
		<div class="bubbletree"></div>
  </div>


<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27681630-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

</body>
</html>
